body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4ecff;
  }
  
  h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #844bd4;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    padding: 30px;
  }
  
  input {
    width: 90%;
    max-width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input:focus {
    background-color: #844bd422;
    outline: none;
  }
  
  .login-box button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, #8e44ad, #a569bd);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(142, 68, 173, 0.3);
  }
  
  .login-box button:hover {
    transform: scale(1.03);
    box-shadow: 0 6px 14px rgba(142, 68, 173, 0.4);
    background: linear-gradient(90deg, #7d3c98, #b57edc);
  }  

  button {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #844bd4;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #50239c;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4ecff;
    font-family: Arial, sans-serif;
  }
  
  .home-container h1 {
    font-size: 2.5rem;
    color: #5f27cd;
    margin-bottom: 20px;
  }
  
  .button-group {
    display: flex;
    gap: 20px;
  }
  
  .btn {
    background-color: #8e44ad;
    color: white;
    padding: 12px 20px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background 0.3s;
  }
  
  .btn:hover {
    background-color: #6c3483;
  }
  